.companies {
    padding: 20px;
    margin-left: 142px;
    width:100%
}

.companies h2 {
    margin-bottom: 20px;
    margin-left: 10px;
}

.search-input {
    margin-bottom: 20px;
    width: 15%;
    margin-left: 10px;
    box-sizing: border-box;
}

.companies table {
    margin-left: 10px;
    width:98%;
    border-collapse: collapse;
}

.companies table, th, td {
    border: 1px solid black;
}

.companies th, td {
    padding: 10px;
    text-align: left;
}
.companies-main {
    width:90%;
    background-color: #ebedf0;
}

