.sidebar-container {
    display: flex;
    position: relative;
}

.sidebar {
    background-color:rgb(51, 71, 91);
    color: white;
    width: 60px;
    padding: 10px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
}
